<footer id="main_footer">
    <p class="copyright">&copy; 2019 Chester Syron Damian</p>
    <nav>
        <a href="https://github.com/jzeken" target= "_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/jzeken14" target= "_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/jzeken14" target= "_blank"><i class="fab fa-twitter"></i></a>
    </nav>
</footer>