<header id="main_navigation" class="clearfix">
  <%= link_to 'Chester Syron Damian', root_path, class: "name" %>
  <nav>
    <%= link_to 'Articles', posts_path %>
    <a href="project.html">Projects</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>